*{
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-image: linear-gradient(orange, grey);
  overflow: hidden;
  /* min-width: 100vw; */
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  background-color: black;
  width: 90vw;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#game {
  background-color: floralwhite;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card{
  background-color: transparent;
  margin-left: 5px;
  margin-top: 5px;
  width: calc(100% / 6);
  height: 100px;
  perspective: 1000px;
}

.card-inner{
  transform: rotateY(180deg);
  border: solid black 2px;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

/* .card:hover .card-inner {
  transform: rotateY(0deg);
} */

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb;
}

.card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
}

.img{
  /* user-select: none; */
  max-width: 92%;
  max-height: 95%;
}



